#analytics-card {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 220px;
  height: 100px;
  border-radius: 15px;
  border: 1px solid rgb(125, 143, 179, 0.3);
  overflow: hidden;
}
.card-top {
  height: 60%;
  display: flex;
  border-bottom: 1px solid rgb(125, 143, 179, 0.3);
}
.card-top-left {
  width: 50%;
}
.card-top-right {
  width: 50%;
}
.card-bottom {
  margin: auto;
  width: 190px;
  height: 40%;
  justify-content: space-between;
}
.card-top .h5 {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 10px;
  color: rgb(125, 143, 179);
}
.card-top .h3 {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 14px;
}
.graph {
  margin: auto;
  width: 80px;
}
.card-bottom .para {
  font-size: 10px;
  color: rgb(125, 143, 179);
}
.live {
  padding: 5px;
  background-color: rgba(136, 51, 255, 0.1);
  border-radius: 5px;
  color: rgba(136, 51, 255, 1);
  font-weight: 700;
}
#analytics-card li {
  list-style-type: none;
}
#analytics-card .purple {
  margin-right: 5px;
  width: 10px;
  height: 10px;
  background-color: rgba(136, 51, 255, 1);
  border-radius: 50px;
}
#analytics-card .orange {
  margin-right: 5px;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 102, 51, 0.5);
  border-radius: 50px;
}
/* #analytics-card .purple::before {
  content: "\2022";
  color: rgba(136, 51, 255, 1);
  font-weight: bold;
  display: inline-block;
  width: 1em;
}
#analytics-card .orange::before {
  content: "\2022";
  color: rgb(255, 123, 0);
  font-weight: bold;
  display: inline-block;
  width: 1em;
} */
