#middle-container {
  width: 90vw;
  height: 100%;
  max-height: max-content;
  position: relative;
}
.middle-box {
  margin: 20px;
  width: 96%;
  max-height: max-content;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  overflow: hidden;
}
.mid-top {
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(242, 243, 245, 1);
  align-items: center;
}
.mid-top-products {
  height: 50px;
}
.mid-top .heading4 {
  width: max-content;
  cursor: pointer;
}
.bag-img {
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px;
  cursor: pointer;
  width: fit-content;
  background-color: white;
  border-radius: 5px;
}
.mid-top-navbar {
  width: max-content;
}
.mid-top-navbar li {
  list-style-type: none;
}
.active {
  color: rgba(136, 51, 255, 1);
  border-bottom: 2px solid rgba(136, 51, 255, 1);
}
.mid-nav-item {
  padding: 20px 10px;
  width: max-content;
  cursor: pointer;
  font-size: 13px;
}
.add-button {
  cursor: pointer;
  margin-right: 20px;
  padding: 5px 15px;
  font-size: 12px;
  border-radius: 50px;
  background-color: rgba(136, 51, 255, 1);
  color: white;
  border: 0;
}
@media screen and (max-width: 1300px) {
  #middle-container {
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .hide {
    display: none;
  }
  .middle-box {
    margin-left: auto;
    margin-right: auto;
  }
  .mid-top-navbar {
    background-color: #fff;
    border-radius: 15px;
    height: 60%;
  }
  .active {
    display: block !important;
    color: rgba(136, 51, 255, 1);
    border-bottom: 0;
    order: 0;
  }
  #middle-container .heading4 {
    margin-left: 20px;
  }
  #middle-container .mid-nav-item {
    display: none;
  }
}
