#snavbar {
  margin: 0;
  top: 0;
  width: 100%;
  height: 70px;
  position: sticky;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  background-color: rgba(247, 248, 250, 1);
  border-bottom: 1px solid rgb(125, 143, 179, 0.3);
}
.burger {
  margin-left: 10%;
  width: 50px;
}
.burger:hover {
  cursor: pointer;
}
.snav-menu {
  width: max-content;
  font-size: 14px;
  color: #7d8fb3;
}
.snav-menu li {
  list-style-type: none;
}
.snav-item {
  width: 100px;
}
#snavbar .snav-item:hover {
  cursor: pointer;
}
.search-container {
  height: 70%;
}
.search-bar {
  width: 350px;
  height: 50px;
  text-indent: 50px;
  border-radius: 50px;
  border: 0;
  outline: none;
}
.search-bar::placeholder {
  color: #7d8fb3;
}
.notification,
.cross {
  height: 50px;
}
.profilepic {
  margin-left: 10px;
}
.profile-box {
  margin-right: 10px;
}
.profile-box .heading4 {
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #7d8fb3;
}
#snavbar .search {
  position: relative;
  left: 36px;
  filter: invert(59%) sepia(14%) saturate(901%) hue-rotate(182deg)
    brightness(95%) contrast(76%);
}
#snavbar .heading4 {
  margin-left: 10px;
}
.red {
  position: relative;
  bottom: 16px;
  left: 54px;
}
#snavbar .profilepic:hover {
  cursor: pointer;
}
#snavbar .heading4:hover {
  cursor: pointer;
}
#snavbar .notification:hover {
  cursor: pointer;
}
#snavbar .cross:hover {
  cursor: pointer;
}
#snavbar .dots:hover {
  cursor: pointer;
}
@media screen and (max-width: 1300px) {
  .search-bar {
    width: 50px;
  }
  .search-bar::placeholder {
    display: none;
  }
  #snavbar .search {
    position: relative;
    right: 36px;
  }
  .snav-item {
    padding: 5px;
    width: fit-content;
  }
  .profile-box {
    width: fit-content;
  }
.profilepic {
  margin-left: 0;
}
}
@media screen and (max-width: 900px) {
  .snav-item {
    display: none;
  }
  .dots {
    display: none;
  }
  .search-container {
    order: 2;
  }
  .profilepic {
    order: 1;
  }
  .heading4 {
    order: 1;
  }
  .red {
    order: 2;
  }
  .notification {
    order: 2;
  }
  .cross {
    order: 2;
  }
}
@media screen and (max-width: 550px) {
  #snavbar .heading4 {
    display: none;
  }
  .red,
  .notification,
  .cross,
  .search,
  .search-bar {
    display: none;
  }
  .constructor {
    margin-left: 20px;
  }
  .circle {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50px;
  }
}
