#grid-single {
  margin-bottom: 10px;
  min-width: 280px;
  height: 220px;
  background-color: rgba(247, 248, 250, 1);
  border-radius: 10px;
}
#content-single {
  margin: 0 20px;
  margin-bottom: 10px;
  padding-left: 20px;
  min-width: 280px;
  max-height: max-content;
  background-color: rgba(247, 248, 250, 1);
  border-radius: 10px;
  display: flex;
}
.product-details {
  margin: auto;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #677da8;
}
.product-title {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}
.product-details button {
  cursor: pointer;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: white;
  border: 0;
  transition: all 0.2s;
}
.product-details button:hover {
  background-color: rgb(148, 148, 148);
  color: #fff;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.content img {
  margin-left: 20px;
  margin-right: 20px;
  width: 45px;
  height: 45px;
}
#content-single .product-details {
  width: 100%;
  flex-direction: row;
}
#content-single button {
  margin-left: auto;
  margin-right: 20px;
}
@media screen and (max-width: 900px) {
  #grid-single {
    min-width: 260px;
    width: 40vw;
  }
}
@media screen and (max-width: 650px) {
  #grid-single {
    min-width: 260px;
    width: 84vw;
    font-size: 12px;
  }
  #content-single {
    font-size: 12px;
  }
  .content img {
    width: 35px;
    height: 35px;
  }
}
